##Frontend files

/linux
/.dart*

.m*
/.idea


frontend/android
frontend/build
frontend/ios
frontend/macos
frontend/test
frontend/web
frontend/windows
frontend/linux
frontend/.dart*
frontend/.*

backend/.env
